<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Description:</strong>
  <%= @user.description %>
</p>

<p>
  <strong>First name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user.last_name %>
</p>

<p>
  <% Event.all.each do |event| %>
    <% if event.admin_id == @user.id %>
      <%= event.title %>
      <%= link_to 'Show', event_path(event), class: "btn btn-secondary" %>
      </br></br>
    <% end %>
  <% end %>
    


</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Edit registration', edit_user_registration_path(current_user.id) %> |
<%= link_to 'Back', users_path %>
